services:
  # --- MONGODB ---
  mongo:
    image: mongo:7.0
    container_name: algomesti_mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password123
      - TZ=UTC
    network_mode: "host"
    # Removida a seção 'ports' pois o modo 'host' já expõe tudo automaticamente

  # --- RABBITMQ ---
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: algomesti_rabbit
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password123
      - TZ=UTC
    network_mode: "host"

  # --- MINIO ---
  minio:
    image: minio/minio
    container_name: algomesti_minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password123
      - TZ=UTC
    network_mode: "host"
    command: server /data --console-address ":9001"

  # --- MINIO SETUP ---
  minio-setup:
    image: minio/mc
    depends_on:
      - minio
    network_mode: "host"
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc alias set local http://localhost:9000 admin password123); do echo 'Aguardando MinIO...'; sleep 1; done;
      /usr/bin/mc mb --ignore-existing local/evidencias;
      /usr/bin/mc ilm import local/evidencias <<EOF
      {
          \"Rules\": [
              {
                  \"ID\": \"retencao-30-dias\",
                  \"Status\": \"Enabled\",
                  \"Expiration\": { \"Days\": 30 }
              }
          ]
      }
      EOF
      exit 0;
      "